- @articles.each do |article|
  .article__item
    = link_to root_path, class: 'article__item__userimage' do
      = image_tag "", class: 'user__avater'
    .article__item__body
      = link_to article_path(article), class: 'article__item__body__title' do
        = article.title
      = link_to root_path, class: 'article__item__body__meta' do
        = article.user.nickname
