.allWrapper
  = render 'shared/header'
  .editor
    .editor__form
      = form_for @article do |f|
        .editor__content
          .editor__title
            = f.text_field :title, class: 'form__control', placeholder: 'タイトル'
          .editor__body
            .editor__body__text
              = f.text_area :text, class: 'editor__body__text__area', placeholder: 'プログラミング知識をMarkdown記法で書いて共有しよう'
        .editor__footer
          .editor__footer__save
            = f.label :image, class: 'image__picker' do
              = fa_icon 'picture-o'
              = f.file_field :image, class: 'footer__image'
            = f.submit 'Qiitaに投稿', class: 'editor__footer__save__submit'
