.allWrapper
  = render 'shared/header'
  .main__search
    .main__search__container
      = form_tag search_articles_path do
        .main__search__container__form
          %button.search__btn{type: "submit"}
            %i.fa.fa-search
            検索
          .search__form
            %input.search__form__area{placeholder: "タイトルで検索", type: 'text'}
      .main__search__container__nav
        %ul.navigation__tabs
          %li.active
            = link_to "/", class: 'active__link' do
              すべて
              %span.article__count
                = 0
          %li.active
            = link_to "/", class: 'active__stock' do
              ストック済み
              %span.stock__count
                = 0
        .sort__button
          = link_to "/", class: 'sort__button__link' do
            %span.btn
              %i.fa.fa-sort-amount-desc
              関連順
              %i.fa.fa-caret-down
      = render 'search_article'

