.allWrapper
  = render 'shared/header'
  .main
    .container
      .article
        .article__header
          .article__header__info
            = link_to class: 'article__header__info__name' do
              = @article.user.nickname
            .article__header__info__time
              = @article.created_at
            - if user_signed_in? && current_user.id == @article.user_id
              = link_to '削除', article_path, method: :delete
              = link_to '編集', edit_article_path, method: :get
          %h1.article__header__title
            = @article.title
        .article__body
          = simple_format(@article.text)
        = image_tag @article.image.url if @article.image.present?
      .comment
        = render 'articles/comment'
      %form.comment__form
        .comment__form__header
          .comment__form__header__label
            コメントを投稿する
        .comment__form__body
          %textarea.form__control{placeholder: 'コメントを入力してください'}
          %button.send
            投稿
