.allWrapper
  = render 'shared/header'
  .main
    .container
      .article
        .article__header
          .article__header__info
            = link_to class: 'article__header__info__name' do
              = @article.user.nickname
            .article__header__info__time
              = @article.created_at
          %h1.article__header__title
            = @article.title
        .article__body
          = simple_format(@article.text)
