.allWrapper
  = render 'shared/header'
  .main__container
    .user__profile
      .user__profile__avatar
        = image_tag "", class: 'user__profile__avatar__image'
      .user__profile__header
        %h3.user__profile__header__fullname
          = "岡村 優"
        %h4.user__profile__header__name
          = "@sentral"
      .user__profile__info
        .user__profile__info__body__text
          = "駆け出しプログラマーです！まだアウトプットに慣れていないので変な記事も投稿してしまうかもしれませんが、もしお時間があれば見ていってください。またご指摘等もして頂けると嬉しいです。"
        .user__profile__info__body
          %i.fa.fa-building-o
          = "無所属"
        .user__profile__info__body
          %i.fa.fa-map-marker
          = "tokyo"
        %a.user__profile__info__body__edit
          %i.fa.fa-cog
          = "プロフィールを編集する"
