.home
  .home__contents
    .home__contents__menu
      = link_to "トレンド", root_path, method: :get, class: 'home__contents__menu__item fa fa-line-chart'
      = link_to "マイルストーン", root_path, method: :get, class: 'home__contents__menu__item2 fa fa-flag-checkered'
      - if user_signed_in?
        = link_to "タグフィード", root_path, method: :get, class: 'home__contents__menu__item2 fa fa-tags'
        = link_to "タイムライン", root_path, method: :get, class: 'home__contents__menu__item2 fa fa-list-ul'
    .home__contents__main
      .article
        .article__list__header
          .article__list__header__title
            .article__list__header__title__label
              %span.fa.fa-fw.fa-line-chart
              トレンド
            .article__list__header__title__sublabel
              最近人気の記事を毎日5時/17時に更新
          .article__list__header__itemlist__tab
            %span.article__list__header__itemlist__tab__item
              １日
            %span.article__list__header__itemlist__tab__item
              週間
            %span.article__list__header__itemlist__tab__item
              月間
        .article__list
        - @articles.each do |article|
          .article__item
            = link_to root_path, class: 'article__item__userimage' do
              = image_tag "", class: 'user__avater'
            .article__item__body
              = link_to root_path, class: 'article__item__body__title' do
                = article.title
              = link_to root_path, class: 'article__item__body__meta' do
                = article.user.nickname

