.sessions
  .container
    .row
      .sessions__title
        %h2 Qiitaにログイン
      .sessions__layout__form
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .form__group
            = f.email_field :email, autofocus: true, placeholder: 'メールアドレス', autocomplete: "email", class: 'form__control'
          .form__group
            = f.password_field :password, placeholder: 'パスワード', autocomplete: "current-password",class: 'form__control'
            .help__block
              = link_to "パスワードを忘れた場合", new_user_registration_path, method: :get, class: 'help__link'
          .form__group
            = f.submit "Qiitaにログイン", class: 'btn'
